.left-list {
  margin-top: 3rem;
}

h5 {
  margin: 0rem 0rem 1rem 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

hr {
  width: 80%;
  margin-left: 0.5rem;
}

.bank-list {
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-weight: 600;
  list-style-type: none;
  background-color: lightblue;
  border-radius: 0.4rem;
  margin: 1.5rem 5rem 1.5rem 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  letter-spacing: 0.2rem;
}

.bank-list:hover {
  color: darkblue;
  border-left: 3px solid #fff;
}

.sub-list {
  display: none;
  margin: -1rem 0rem 1rem 3rem;
  list-style-type: none;
}

.sub-list li:hover {
  border-left: 3px solid #fff;
}

.sub-list li {
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: #555;
}

