<form class="form">
  <p class="title">Register</p>
  <div class="flex">
    <label class="codecli">
      <input required="" placeholder="" type="number" class="input">
      <span>Code Client</span>
    </label>
    <label class="name">
      <input required="" placeholder="" type="text" class="input">
      <span>Firstname</span>
    </label>

    <label class="lastname">
      <input required="" placeholder="" type="text" class="input">
      <span>Lastname</span>
    </label>
  </div>
  <label>
    <input required="" placeholder="" type="email" class="input">
    <span>Email</span>
  </label>
  <label>
    <input required="" placeholder="" type="number" class="input">
    <span>Number</span>
  </label>
  <label>
    <input required="" placeholder="" type="password" class="input">
    <span>Password</span>
  </label>
  <label>
    <input required="" placeholder="" type="password" class="input">
    <span>Confirm password</span>
  </label>
  <button class="submit">Submit</button>
</form>
